{% extends "App/base.html" %} {% load static %} {% block content %} 
<main class="container-fluid home">
    <h1 class="home__heading" style="text-align: center;">KNOW-I</h1>
    <h3 class="home__subheading" style="text-align: center;">RESEARCH. LEARN. INNOVATE.</h3>
    <div class="home__socials">
        <a href="https://www.instagram.com/_know_i_/" target="_blank" rel="noopener">
            <img src="{% static 'images/icons/instagram.png' %}" alt="Instagram: @_know_i_" /></a>
        <a href="https://www.linkedin.com/company/know-i/" target="_blank" rel="noopener">
            <img src="{% static 'images/icons/linkedin.png' %}" alt="Linkedin: KNOW-I" /></a>
        <a href="mailto:knowisvce@gmail.com" target="_blank" rel="noopener">
            <img src="{% static 'images/icons/gmail.png' %}" alt="Gmail: knowisvce@gmail.com" /></a>
    </div>
    <div style="text-align: center; padding-bottom: 1.875rem;">
        <a href="#learn-about-know-i" class=btn>
            <h3 class="btn__text">LEARN MORE ABOUT US</h3> 
        </a>
    </div>
    <div id="learn-about-know-i">
        <div class="home__about">
            <div class="home__about--row">
                <img class="acolumns__img" src="{% static 'images/about/who-logo.png' %}" alt="WHO ARE KNOW I?" />
                <div class="acolumns__text">
                    <h1 class="acolumns__text--heading">WHO</h1>
                    <div class="acolumns__text--p">The Know-I research club was established in March 2018, as a forum for enhancing knowledge in the fields of Artificial Intelligence, Machine learning, Deep learning and Computer vision for the students of Sri Venkateswara College of Engineering.</div>
                </div>
            </div>
        </div>
        <div class="home__about">
            <div class="home__about--row">
                <div class="acolumns__text">
                    <h1 class="acolumns__text--heading">WHAT</h1>
                    <div class="acolumns__text--p">This forum acts as a platform for the students, faculty and industry experts to share their experiences and work collaboratively to provide intelligent solutions for real world problems. We bridge students to learn and to innovate, under our guidance.</div>
                </div>
                <img class="acolumns__img" src="{% static 'images/about/what.png' %}" alt="WHAT IS KNOW I?" />
            </div>
        </div>
        <div class="home__about">
            <div class="home__about--row">
                <img class="acolumns__img" src="{% static 'images/about/how.png' %}" alt="HOW DOES KNOW I HELP YOU?" />
                <div class="acolumns__text">
                    <h1 class="acolumns__text--heading">HOW</h1>
                    <div class="acolumns__text--p">One of the club’s priorities is to encourage students to get involved in research based activities. To achieve this, the forum has an exuberant team consisting of faculty and students to organize competitions, workshops, project presentations etc.</div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}