.acolumns {
  &__text{
    color: $color-white;
  @include text-shadow-white;
    &--heading {
     padding-top: 2.5rem;
     font-size: 5rem;
     padding-left: 1rem;
     text-align: left;
   }
 
   &--p {
     font-size: 1.5rem;
     padding-left: 1rem;
     text-align: left;
   }
  }
  &__img {
    width: 32.5rem;
    object-fit: fill;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 3.5rem;
    position: relative;
   }
 }
@include respond(phone-small){
.acolumns{
  &__img{
    width: 40rem;
    padding-left: 7.5rem;
    //padding-right: 0rem;
  }
}
}
@include respond(tab-port){
.acolumns{
  &__img{
    width: 30rem;
    padding-left: 1.5rem;
  }
}
}
@include respond(tab-land){
.acolumns{
  &__img{
    width: 32.5rem;
    padding-left: 5rem;
  }
}
}
