.etiles {
  height: 50rem;

  background-color: $color-black;
  color: $color-white;
  border: 0.25rem solid $color-yellow;
  border-radius: 2.2rem;
  box-shadow: 0rem 0rem 1rem rgba($color-yellow, 0.8);
  overflow: hidden;

  &__imag {
    border-bottom: 0.25rem solid $color-yellow;
    img {
      height: 22rem;
    }
  }

  &__title {
    background-color: transparent;
    text-align: center;
    color: $color-white;
    padding-top: 1rem;
    opacity: 0.8;
  }

  &__description {
    padding: 2rem;
    background-color: transparent;
    color: $color-white;
    text-align: center;
    font-size: medium;
    opacity: 0.8;
  }

  &__date {
    background-color: transparent;
    text-align: center;
    color: $color-yellow;
    opacity: 0.8;
  }

  &__link {
    text-decoration: none;
  }
}
