.eventsholder{
  border: 0.25rem solid $color-yellow;
  border-radius: 1.74rem;
  width: 85rem;  
  height: 17rem;
  box-shadow: 0rem 0rem 1rem rgba($color-yellow, 1);
  margin: auto;
  margin-top: 5rem;
  color: $color-white;
  @include text-shadow-white;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.2rem;

  &__heading{
    color: $color-white;
    text-align: center;
    font-size: 4rem;
  }
&__subheading {
   color: $color-white;
   text-align: center;
   font-size: 2rem;
 }
}