*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  backface-visibility: hidden;
}

body {
  box-sizing: border-box;
}
