@keyframes flicker {
  0%,
  9%,
  20%,
  29%,
  35%,
  44%,
  48%,
  52%,
  56%,
  60%,
  62%,
  64%,
  66%,
  68%,
  70% {
    color: #ddd;
    text-shadow: none; }
  10%,
  19%,
  30%,
  34%,
  45%,
  47%,
  53%,
  55%,
  58%,
  61%,
  63%,
  65%,
  67%,
  69%,
  71%,
  100% {
    color: white;
    text-shadow: 0px 0px 10px white; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  backface-visibility: hidden; }

body {
  box-sizing: border-box;
  background-color: #000; }

.mcard {
  justify-self: end;
  display: grid;
  grid-template-rows: repeat(2, 8rem);
  grid-template-columns: 40% 60%;
  border: 0.25rem solid #ffe268;
  border-radius: 5rem;
  column-gap: 1rem;
  align-items: center;
  overflow: hidden;
  box-shadow: 0rem 0rem 1rem rgba(255, 226, 104, 0.8);
  grid-template-areas: "img name" "img head"; }
  .mcard__img {
    grid-area: img;
    height: 100%;
    width: 100%;
    border-radius: 27%;
    box-shadow: 0rem 0rem 1rem rgba(255, 226, 104, 0.8);
    border: 0.25rem solid #ffe268;
    transform: scale(1.05, 1.05); }
  .mcard__name {
    background-color: transparent;
    grid-area: name;
    color: #fff;
    opacity: 0.8; }
  .mcard__heading {
    background-color: transparent;
    grid-area: head;
    color: #fff;
    opacity: 0.8; }

@media only screen and (max-width: 37.5em) {
  .mcard {
    grid-template-rows: repeat(2, 6rem); } }

@media only screen and (max-width: 30.5em) {
  .mcard {
    border-radius: 3rem; } }

.announcements {
  border: 0.25rem solid #ffe268;
  border-radius: 2.74rem;
  width: 45rem;
  height: 5rem;
  box-shadow: 0rem 0rem 1rem #ffe268;
  margin: auto;
  margin-top: 5rem;
  color: #fff;
  text-shadow: 0rem 0rem 1rem white;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.2rem; }

.btn {
  border-radius: 1.74rem;
  display: inline-block;
  background-color: #cc9933;
  color: #000;
  font-weight: bold;
  padding: 1rem 2rem 0.5rem;
  text-decoration: none;
  box-shadow: 0rem 0rem 1rem #ffe268;
  position: relative;
  top: 60%;
  bottom: 50%;
  margin-bottom: 3rem; }
  .btn:hover {
    box-shadow: 0rem 0rem 1.5rem #ffe268; }
  .btn__text {
    justify-content: center; }

.etiles {
  height: 50rem;
  background-color: #000;
  color: #fff;
  border: 0.25rem solid #ffe268;
  border-radius: 2.2rem;
  box-shadow: 0rem 0rem 1rem rgba(255, 226, 104, 0.8);
  overflow: hidden; }
  .etiles__imag {
    border-bottom: 0.25rem solid #ffe268; }
    .etiles__imag img {
      height: 22rem; }
  .etiles__title {
    background-color: transparent;
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    opacity: 0.8; }
  .etiles__description {
    padding: 2rem;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: medium;
    opacity: 0.8; }
  .etiles__date {
    background-color: transparent;
    text-align: center;
    color: #ffe268;
    opacity: 0.8; }
  .etiles__link {
    text-decoration: none; }

@media only screen and (max-width: 56.25em) {
  .etiles {
    width: 90%;
    height: 100% .etiles __date;
      height-padding-bottom: 3%; } }

@media only screen and (max-width: 37.5em) {
  .etiles {
    width: 100%;
    height: 103%; } }

@media only screen and (max-width: 30.5em) {
  .etiles {
    left: 40%;
    height: 105%; } }

.eventsholder {
  border: 0.25rem solid #ffe268;
  border-radius: 1.74rem;
  width: 60%;
  height: 90%;
  box-shadow: 0rem 0rem 1rem #ffe268;
  margin: auto;
  margin-top: 3rem;
  color: #fff;
  text-shadow: 0rem 0rem 1rem white;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.2rem;
  margin-bottom: 3rem; }
  .eventsholder__heading {
    color: #fff;
    text-align: center;
    font-size: 4rem; }
  .eventsholder__subheading {
    color: #fff;
    text-align: center;
    font-size: 2rem; }

@media only screen and (max-width: 75em) {
  .eventsholder {
    width: 90%;
    height: 110%; } }

.pages {
  border: 0.25rem solid #ffe268;
  border-radius: 2.2rem;
  width: 20rem;
  height: 5rem;
  box-shadow: 0rem 0rem 1rem #ffe268;
  text-shadow: 0rem 0rem 1rem white;
  text-align: center;
  padding-top: 0.5rem;
  display: flex;
  margin-bottom: 3rem;
  margin-top: 3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  .pages__navigator {
    flex: 1;
    text-decoration: none;
    color: rgba(255, 226, 104, 0.6);
    font-size: 4rem;
    margin-top: -1.7rem; }
  .pages__number {
    flex: 1;
    background-color: #ffe268;
    color: #000;
    font-size: 1.5rem;
    margin-top: -0.5rem;
    padding-top: 1rem; }
  .pages__navigator:hover {
    color: rgba(255, 226, 104, 0.6); }

.acolumns__text {
  color: #fff;
  text-shadow: 0rem 0rem 1rem white; }
  .acolumns__text--heading {
    padding-top: 5rem;
    font-size: 5rem;
    padding-left: 1rem;
    text-align: left; }
  .acolumns__text--p {
    font-size: 1.5rem;
    padding-left: 1rem;
    text-align: left; }

.acolumns__img {
  width: 30rem;
  object-fit: fill;
  padding-left: 5rem;
  position: relative;
  /*&--left {
         float:left;
       }

       &--right{
         float: right;
       }*/ }

.events__heading {
  color: #fff;
  text-align: center;
  padding-top: 4.5rem;
  font-size: 6rem; }

.events__subheading {
  padding-top: 4.5rem;
  color: #fff;
  text-align: center;
  padding-bottom: 5rem;
  font-size: 2.2rem; }

.events__heading1 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  padding-bottom: 2rem; }

.events__box {
  display: grid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  padding-bottom: 5rem; }
  .events__box--heading {
    color: #fff;
    text-shadow: 0rem 0rem 1rem white;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .events__box--container {
    display: grid;
    column-gap: 10rem;
    row-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(6.375rem, 1fr)); }

@media only screen and (max-width: 30.5em) {
  .events__box {
    width: 20%;
    left: 50%; }
    .events__box--container {
      row-gap: 6rem; } }

@media only screen and (max-width: 34.5em) {
  .events__box {
    width: 40%;
    left: 40%; }
  .events--container {
    row-gap: 20rem; } }

.members__heading {
  padding-top: 5rem;
  color: #fff;
  text-shadow: 0rem 0rem 1rem white;
  font-size: 4rem;
  text-align: center; }

.members__subheading {
  color: #fff;
  text-shadow: 0rem 0rem 1rem white;
  text-align: center;
  opacity: 0.8;
  padding-bottom: 5rem;
  font-size: 1.5rem; }

.members__box {
  display: grid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  padding-bottom: 5rem; }
  .members__box--heading {
    color: #fff;
    text-shadow: 0rem 0rem 1rem white;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .members__box--container {
    display: grid;
    column-gap: 5rem;
    row-gap: 4rem;
    grid-template-columns: repeat(auto-fit, 45%); }

@media only screen and (max-width: 75em) {
  .members__box {
    width: 80%; } }

@media only screen and (max-width: 56.25em) {
  .members__box {
    width: 95%;
    left: 51%; }
    .members__box--container {
      column-gap: 3rem; } }

.home {
  padding-bottom: 2rem;
  text-align: center; }
  .home__heading {
    padding-top: 5rem;
    color: #fff;
    text-shadow: 0rem 0rem 1rem white;
    font-size: 5rem; }
  .home__subheading {
    color: #fff;
    text-shadow: 0rem 0rem 1rem white;
    opacity: 0.8;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 2rem; }
  .home__socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr)); }
  .home__button {
    text-align: center; }
  .home__about {
    display: grid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    padding-bottom: 5rem; }
    .home__about--row {
      display: grid;
      column-gap: 5rem;
      row-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(20.375rem, 1fr)); }

.navbar {
  background: #000; }

.navbar-brand {
  padding: 1rem 0rem 1rem 3rem; }
  .navbar-brand img {
    height: 6rem; }

.navbar-nav {
  margin-left: auto; }
  .navbar-nav li {
    padding-right: 2rem; }
    .navbar-nav li .active {
      color: #fff !important;
      text-shadow: 0rem 0rem 1rem white; }
    .navbar-nav li .nav-link {
      font-size: 2.2rem; }

.resources__heading {
  padding-top: 6rem;
  color: #fff;
  text-align: center;
  text-shadow: 0rem 0rem 1rem white;
  padding-top: 4.5rem;
  font-size: 6rem; }

.resources__subheading {
  padding-top: 2.5rem;
  color: #fff;
  text-shadow: 0rem 0rem 1rem white;
  text-align: center;
  padding-bottom: 5rem;
  font-size: 2.2rem; }

.events {
  margin-top: 9rem;
  position: relative;
  height: fit-content; }

.home {
  margin-top: 9rem;
  height: fit-content;
  background: #0d0d0d;
  position: relative; }

.members {
  margin-top: 9rem;
  height: fit-content;
  background: #000;
  position: relative; }

.resources {
  margin-top: 9rem;
  position: relative;
  height: fit-content; }
