.events {
  &__heading {
    color: $color-white;
    text-align: center;
    padding-top: 4.5rem;
    font-size: 6rem;
  }
  &__subheading {
    padding-top: 4.5rem;
    color: $color-white;
    text-align: center;
    padding-bottom: 5rem;
    font-size: 2.2rem;
  }
  &__heading1 {
    color: $color-white;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    font-size: 4rem;
  }

  &__box {
    display: grid;
    position: relative;
    width: 100%;
    padding-bottom: 5rem;

    &--heading {
      color: $color-white;
      @include text-shadow-white;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    &--container {
      display: grid;
      row-gap: 4rem;
      column-gap: 10rem;
      justify-self: center;
      width: 60%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include respond(tab-land) {
  .events {
    &__box {
      &--container {
        width: 70%;
      }
    }
  }
}

@include respond(tab-port) {
  .events {
    &__box {
      &--container {
        width: 85%;
        column-gap: 7rem;
      }
    }
  }
}

@include respond(phone) {
  .events {
    &__box {
      &--container {
        grid-template-columns: 100%;
      }
    }
  }
}
