.home {
    padding-bottom: 2rem;
    text-align: center;

  &__heading {
    padding-top: 5rem;
    color: $color-white;
    @include text-shadow-white;
    font-size: 5rem;
  }

  &__subheading {
    color: $color-white;
    @include text-shadow-white;
    opacity: 0.8;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  &__socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
  }

  &__button{
    text-align: center;
  }
  &__about{
    display: grid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    padding-bottom: 5rem;

    &--row{
      display: grid;
      column-gap: 5rem;
      row-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(20.375rem, 1fr));
    }
  }
}